[flake8]
max-line-length = 125
extend-ignore =
    E203
    W503
    

exclude =
    .venv,
    __pycache__,
    .pytest_cache,
    build,
    docs,
    archive,
    data,
    .github,
    scrpts,
    SDR_Encoder_Temp,

    
    
