[flake8]
max-line-length = 125
extend-ignore =
    E203
    W503
    

exclude =
    .github,
    .pytest_cache,
    .venv,
    .vscode,
    archive,
    data,
    docs,
    scripts,
    ./uv.lock,
    ./setup.py,
    ./pytest.txt,
    ./README.md,
    build,
    __pycache__,


    
    
